---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: home
eleventyExcludeFromCollections: true
---
<h1>All “{{ tag }}” Posts!</h1>
 
<div class="post-image-list">
    <div class="grid-row">
    {% assign tagName = {{tag}} %}
    {% assign taglist = collections[tagName] %}
    {% for post in taglist reversed %}
        <div class="grid-item third">
            <a href="{{ post.url }}">
                <div class="preview">
                    {% if config.debug %}
                        <img src="{{ config.imageDirectory }}{{ post.data.coverImage }}" style="width:275px;height:auto;" />
                    {% else %}
                        {% responsiveImage post.data.coverImage post.data.title 275 %}
                    {% endif %}
                </div>
                <h5>{{ post.data.title }}{{ post.data.url }}</h5>
                <h5 class="date">{{ post.date | formatDate }}</h5>
            </a>
        </div>
    {% endfor %}
    </div class="row">
</div>
