<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow"/>

    <title>{{ title }}</title>

    {% if title != nil %}
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
    {% else %}
    <meta property="og:title" content="{{ config.siteName }}">
    <meta name="twitter:title" content="{{ config.siteName }}">
    {% endif %}

    <meta name="description" content="{{ config.siteDescription }}"/>
    <meta property="og:description" content="{{ config.siteDescription }}">
    
    {% if coverImage != nil %}
    <meta property="og:image" content="/images/post/{{ coverImage }}">
    {% else %}
    <meta property="og:image" content="/images/site/sketchy-header-v2.png">
    {% endif %}
    <meta property="og:url" content="{{ config.siteUrl }}{{ page.url }}">
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>

    
    <meta name="twitter:description" content="{{ config.siteDescription }}">
    <meta name="twitter:image" content="/images/site/sketchy-twitter-card.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@paulmignard"/>

    <meta property="fb:app_id" content="219386746046677"/>

    <style>
        @import url("https://use.typekit.net/ldl2qrh.css");

      body{
        font-family: source-sans-pro, sans-serif;
        letter-spacing: normal;
        line-height: 1.8em;
        font-size:1.2em;
      }

      h1,h2,h3,h4{
        font-family: flood-std, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.0415625em;
        line-height: 1.25;
        -webkit-font-smoothing: antialiased;
      }

      h1{
        font-size:3em;
        text-align:center;
      }

      h3{
        font-size: 2.4rem;
        text-align:center;
      }

      #featured-image{
        width:100%;
        height:auto;
      }


    #logo-container{
        width: 100%;
        text-align: center;
    }

    #site-header nav{
        text-align: center;
    }

    #site-header nav ul{
        padding:10px 0;
    }

    #site-header nav ul li{
        display:inline-block;
        padding:0 5px;
    }

    .latest-header{
        text-align: center;
        font-weight: 500;
        color: lightgray;
    }

    /*footer*/

    #copyright{
        border-top:1px solid #dcd7ca;
        padding:40px 0px;
    }

    .footer-widgets{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .widget{
        flex: 0 50%;
        /*height: 100px;
        margin-bottom: 2%; /* (100-32*3)/2 */
    }

        .widget ul{
            padding:10px 0;
        }

        .widget ul li{
            list-style-type: none;
        }

      #avatar img{
        border-radius:50%;
        width:100px;
      }


      #site-header{
          margin:0 auto;
          max-width:900px;
          padding:15px;
      }

      #content,#site-footer{
          margin:0 auto;
          max-width:1024px;
          padding:15px;
      }

      #site-footer .splash{
          text-align:center;
      }

      .logo img{
          width:100%;
          max-width:550px;
          text-align:center;
      }

      .tags{
          padding-left:0;
      }

      .tags li{
          display:inline-block;
          padding:0 5px;
      }

      .footer-splash{
          width:100%;
          height:auto;
          padding:50px 0 50px;
      }


      a{
          color: #cd2653;
          font-weight: 700;
      }

      .post-image-list {
        max-width: 1024px;
        margin: 0 auto;
      }

      .grid-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
      }

      .grid-item {
        -ms-flex: auto;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
      }

      .third{
          flex-basis: 33%;
      }

      .quarter{
          flex-basis: 25%;
      }

      .grid-item .preview{
          text-align:center;
      }
  
      .grid-item .preview img{
          width:auto;
          height:150px;
          /*min-height:200px;
          min-width:200px;*/
          box-shadow: 0 5px 5px rgba(0,0,0,.5);
          border: 1px solid rgba(0,0,0,.1);
          padding: 5px;
      }

      .grid-item .title,.grid-item .date{
          text-align:center;
      }

      .grid-item h5{
          font-weight: normal;
          text-align: center;
          margin-bottom: 0;
          margin-top: 10px;
      }

      .grid-item h5.date{
          color:#666;
          font-weight: normal;
          text-align: center;
          margin-top: 0;
      }

      .post-image-list .post{
          background-color:yellow;
      }

      .main-preview img{
          width: 100% !important;
          height: auto !important;
      }

      h2.header{
          font-size:3em;
          text-align:center;
      }

      h3.date{
          text-align:center;
      }

      .post .title{
          margin-top:0;
          margin-bottom:0;
      }

      .post .date{
          color: rgb(109, 109, 109);
          font-weight:bold;
          text-align:center;
          margin-bottom:50px;
      }

      .download-container{
        border: 1px solid lightgray;
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:50px 0;
        transform-style: preserve-3d;
        perspective: 400px;
      }

      .download-container:hover .download-preview{
        transform: rotateY(-35deg);
      }



      .download-preview{
        position:absolute;
        height:150px;
        width:auto;
        right: 46px;
        top: 3px;
        box-shadow:5px 5px 15px rgba(0,0,0,.5);
        transform: rotateY(-30deg);
        transition: transform 1s ease;
      }

      .download-preview img{
        height:100%;
        width:auto;
      }

      

      .download-container a{
        font-size:2em;
        color:lightgray;
      }
    
    .left{
        text-align:left;
    }

    .right{
        text-align:right;
    }

    .small-text{
        font-size:.75em;
    }

    .tiny-icon{
        width: 15px;
        height: auto;
    }

    @media only screen and (max-width: 600px) {
        .download-container{
            padding:0;
        }
        
        .download-preview{
            display:none;
        }

        .left{
            text-align:center;
        }

        .right{
            text-align:center;
        }

        .quarter {
            flex-basis: 100%;
        }

        .third {
            flex-basis: 100%;
        }

        .grid-item .preview img {
            width: 90%;
            height: auto;
        }

        .widget{
            flex: 0 100%;
        }

        .widget h2{
            text-align:center;
        }
    }

</style>

  </head>
    <body>