<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow"/>

    <title>{{ title }}</title>

    {% if title != nil %}
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
    {% else %}
    <meta property="og:title" content="{{ config.siteName }}">
    <meta name="twitter:title" content="{{ config.siteName }}">
    {% endif %}

    <meta name="description" content="{{ config.siteDescription }}"/>
    <meta property="og:description" content="{{ config.siteDescription }}">
    
    {% if coverImage != nil %}
    <meta property="og:image" content="/images/post/{{ coverImage }}">
    {% else %}
    <meta property="og:image" content="/images/site/sketchy-header-v2.png">
    {% endif %}
    <meta property="og:url" content="{{ config.siteUrl }}{{ page.url }}">
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>

    
    <meta name="twitter:description" content="{{ config.siteDescription }}">
    <meta name="twitter:image" content="/images/site/sketchy-twitter-card.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@paulmignard"/>

    <meta property="fb:app_id" content="219386746046677"/>

    <!-- feed it through our cssmin filter to minify -->
    <style>
    {% include 'site.css' | cssmin %}
    </style>
  </head>
    <body>