---

---
{% include '_header' %}
    
    <header id="site-header">
      <div id="logo-container">
        <a class="logo" href="/">
          <img src="https://sketchysermons.com/wp-content/themes/twentytwenty-child/assets/images/sketchy-header-v2.png?v=87982739478" />
        </a>
      </div>
      <nav>
      {% include '_navigation' %}
      </nav>
    </header>
    <div id="content" class="post"> 
      <header>
          <h1 class="title">{{ title }}</h1>
          <div class="date">{{ date | formatDate }}</div>
          {% if coverImage != nil %}
          <aside id="featured-container">
            
            {% if config.debug %}
                <img id="featured-image" src="/images/posts/{{ coverImage }}" alt="Cover Image for {{ coverImage }}" />
            {% else %}
                {% responsiveImage coverImage post.data.title 1050 %}
            {% endif %}
            

            {% comment %}
            {{ coverImage | makeResponsive: alt:"moar alt text", options:"options" }}

              
              <img id="featured-image" src="/images/posts/{{ coverImage }}" alt="Cover Image for {{ coverImage }}" />
            {% endcomment %}

          </aside>
          {% endif %}
      </header>
      <article>
      {{ content }}

      {% if download != null %}
        
        <div class="download-container">
          <a href="/downloads/{{ download }}" download>
            <span>Download</span>
            <img src="/images/site/feather-icons/download-cloud.svg" alt="cloud download icon" />
          </a>

          <div class="download-preview">
            <img src="{{ featuredImage }}" />
          </div>


        </div>
        
      {% endif %}

      {% if tags != nil %}
      <div class="tag-container">
        <span>🔖 </span> 
        <ul class="tags">
          {%- for tag in tags -%}
            <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
      {% endif %}
      </article>
      <footer>
        {% include 'author' %}
      </footer>
    </div>
    
    {% include '_footer' %}

  </body>
</html>