---
title: Sketchy Sermons
---
{% include '_header' %}
    <header id="site-header">
      <a class="logo" href="/">
        <img src="https://sketchysermons.com/wp-content/themes/twentytwenty-child/assets/images/sketchy-header-v2.png?v=87982739478" />
      </a>
      <nav>
      {% include '_navigation' %}
      </nav>
    </header>
    <div id="content">
      <header>
          <h1>{{ title }}</h1>
          {% if featuredImage != null %}
          <aside id="featured-container">
              <img id="featured-image" src="{{ featuredImage }}" alt="Cover Image for {{ title }}" />
          </aside>
          {% endif %}
      </header>
      <article>
      {{ content }}

      {% if download != null %}
        
        <style>

          .download-container{
            padding:10px;
            border: 1px solid lightgray;
            width: 100%;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin:50px 0;
            transform-style: preserve-3d;
            perspective: 400px;
          }

          .download-container:hover .download-preview{
            transform: rotateY(-95deg);
          }


          .download-preview{
            position:absolute;
            height:150px;
            width:auto;
            right:0;
            top: 10px;
            box-shadow:5px 5px 15px rgba(0,0,0,.5);
            transform: rotateY(-30deg);
            transition: transform 1s ease;
          }

          .download-preview img{
            height:100%;
            width:auto;
            
            
          }

        </style>
        
        <div class="download-container">
          <a href="{{ download }}">Download</a>

          <div class="download-preview">
            <img src="{{ featuredImage }}" />
          </div>


        </div>
        
      {% endif %}

      <ul class="tags">
        {%- for tag in tags -%}
          <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
        {%- endfor -%}
      </ul>

      </article>
      <footer>
        {% include 'author' %}
      </footer>
    </div>
    
    {% include '_footer' %}

  </body>
</html>